
#announcement
{
	direction: rtl;
	display: inline;
	position: absolute;
	height:75%;
	width:75%;
	background-color: #5D5092;
	left:12.5%;
	top: 12.5%;
	border-radius:20%;
	z-index:1000;
	
}
#annText{
	font: bold 50px Arial;
	display: table-cell;
	margin:auto;
	width:50%;
	padding-top:20px;
	vertical-align: middle;
	text-align:center;
	
	
}

#instructions
{
	display:none;
	margin:auto;
	height:50%;
	margin-top:10px;
	font: bold 17px Arial;
	line-height: 1.5;
	text-align:center;
}
.button
{
	margin:10px;
}

img
{
	height:300px;
	width:250px;
}
