
#announcement
{
	direction: rtl;
	display: table;
	position: absolute;
	height:75%;
	width:75%;
	background-color: #5D5092;
	left:12.5%;
	top: 12.5%;
	border-radius:20%;
	z-index:1000;
	
}
#annText{
	font: bold 50px Arial;
	display: table-cell;
	vertical-align: middle;
	text-align:center;
	
	
}

#Instructions
{
	margin-top:30px;
	font: bold 17px Arial;
	line-height: 1.5;
	text-align:center;
	display:none;   
}

img
{
	height:300;
	width:250;
}

.hide
{
	display:none;
}